* {
  margin: 0;
  padding: 0;
}

.submenu__link {
	display: block;
  	text-decoration: none;
	color: white;
	padding: 12px 100px;
	border-bottom: 1px solid white;
}

.body {
	display: grid;
	grid-template-areas: 
	'header header header'
	'pocket pocket pocket'
	'. navigation .'
	'. main .';
	grid-template-columns: 1fr 6fr 1fr;
}

.pocket {
	height: 30px;
	background: linear-gradient(45deg, rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%);
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}

.body__pocket {
	grid-area: pocket;
	margin-left: 5%;
	margin-right: 5%;
}

.header {
	display: grid;
	grid-template-areas:
	'headline . rectangle'
	'. . search';
	background: linear-gradient(45deg, rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%);
}

.body__header {
	grid-area: header;
}

.headline__page-theme {
	color: white;
	font-weight: lighter;
	margin: 7% 0 0 10%;
}
.headline__page-slogan {
	color: white;
	font-weight: lighter;
	margin: 0 0 0 10%;
}

.rectangle { 
	width: 300px;
	height: 30px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #e0880d;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.header__rectangle {
	grid-area: rectangle;
	position: fixed;
	z-index: 2;
	right: 10%;	
}

.rectangle__media {
	color: white;
	text-decoration: none;
}

.rectangle__media:active { color: black; }

.header__headline { grid-area: headline;
	margin-left: 25%;
}

.header__search { display: none; }

.search-form {
	width: 300px;
}

.header__search-form {
	grid-area: search; 
	position: relative;
	justify-self: center;
}

.search-form__text {
	outline: none;
	border: none;
	width: 300px;
	padding: 10px 80px 10px 20px;
	box-shadow: inset 0 0 5px rgb(186, 106, 14);
	border-radius: 12px;
}

.search-form__button {
	position: absolute;
	outline: none;
	border: none;
	background: #ba6605;
	color: white;
	width: 70px;
	height: 36px;
	top: 0;
	right: 0;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	opacity: 0.7;
	transition: .5s linear;
}

.search-form__button:hover { 
	cursor: pointer;
	opacity: 1; 
}

.body__navigation {
	grid-area: navigation;
	padding-left: 20px;
	border-bottom: 1px solid #adadad;
}

.body__main {
	grid-area: main;
}

.navigation__submenu-container { 
	display: none; 
	position: relative;
}

.submenu {
	display: block;
	list-style-type: none;
	background: #f9861b;
	width: 400px;
	opacity: 0;
	transform: scaleY(0);
	transform-origin: 0 0;
	transition: .5s ease-in-out;
}

.navigation__submenu {
	position: absolute;
	right: 0;
	top: 100%;
}

.navigation__submenu-container:hover .submenu {
	opacity: 1;
	transform: scaleY(1);
}

.submenu__link:hover {
	transition: .5s linear;
	background: #ba6605;
}

.navigation__item {
	display: block;
  	text-decoration: none;
	border-left: 1px solid #e4e4e4;
	padding-left: 10px;
	margin: 1em 1em 1em 0;
	color: black;
}

.navigation__item-container { display: inline-block; }

.main {	
	display: grid;
	grid-template-areas: 
	'article aside'; 
	grid-template-columns: 2fr 1fr;
	grid-column-gap: 20px;
}

.main__article { grid-area: article; }

.post__button {
	grid-area: btn;
	border: none;
	height:  30px;
	width: 100px;
	background: #f9861b;
	border-radius: 10px;
	color: white;
	outline: none;
	transition: .5s linear
}

.post__button:hover { background: #ba6605; }

.post__text { grid-area: txt; }

.post__image { 
	grid-area: image;
	border-radius: 10px;
}

.post__image-new {
	grid-area: new__post;
	height: 62px;
	width: 62px;
}

.post__triangle {
	grid-area: triangle;
  	height: 0;
  	width: 0;
  	display: inline-block;
  	border-top: 62px solid transparent;
  	border-right: 62px solid transparent;
}

.post__triangle_new {
	grid-area: triangle;
  	height: 0;
  	width: 0;
  	display: inline-block;
  	border-top: 62px solid #e4e4e4;
  	border-right: 62px solid white;
}

.post__theme { 
	grid-area: theme;
	margin: 10px 0 5px 0;
	color: #ba6605;
	font-weight: lighter;
}

.article__post {
	padding-left: 10px;
  	margin-bottom: 20px;
  	border-bottom: 1px solid #e4e4e4;
}
.post {
	display: grid;
	grid-template-areas: 
	'theme theme theme theme theme . new__post'
	'image image txt txt txt txt new__post'
	'image image txt txt txt txt .'
	'. . . . . btn  triangle';
	grid-gap: 10px;
}

.article__post_first {
	background: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
}

.aside {
	background: #ededed;
	border-radius: 10px;
}

.main__aside {
	grid-area: aside;
	margin-right: 10px;
	margin-top: 10px;
}

.about__my-img {
	grid-area: my__img;
	border-radius: 10px;
	margin: 17px;
	height: 90px;
	width: 90px;
	box-shadow: 6px -10px 2px -1px #ff7c00,
	-6px -10px 2px -1px #ff7c00;
}

.about__myself {
	grid-area: myself;
	margin: 20px 0 0 10px;
	margin: 0;
}

.about__my-info {
	grid-area: my__info;
	margin-right: 5px;
}

.about__me {	
	grid-area: about__me;
	margin: 20px 0 0 10px;
}

.filter__categories { margin: 20px 0 0 10px; }

.about {
	display: grid;
	grid-template-areas: 
	'about__me about__me'
	'my__img myself'
	'my__img my__info';
}

.categories { display: none; }

.filter__link {
	display: block;
  	text-decoration: none;
	margin: 6px 44px 6px 34px;
	border-bottom: 1px solid #adadad;
	color: black;
}

@media screen and (min-width: 767px) and (max-width: 1080px) {

	.aside { display: none;	}

	.main {	display: block;	}

	.body {	grid-template-columns: 0.1fr 0.8fr 0.1fr; }

	.navigation__submenu-container { display: inline-block; }

	.submenu { width: 200px; }

	.submenu__link { padding: 12px 20px; }
}

@media screen and (max-width: 767px) {

	.body {	grid-template-columns: 0 1fr 0;	}

	.main {	display: block;	}

	.aside { display: none;	}

	.rectangle { display: none;	}

	.search-form { display: none; }

	.navigation__menu {
		display: flex;
		justify-content: space-around;
	}

	.navigation__submenu-container { display: block; }

	.submenu { width: 200px; }

	.submenu__link { padding: 12px 20px; }

	.headline__page-theme { margin: 0; }

	.header__headline {	margin: 10px 20px 20px 20px; }

	.header {
		display: flex;
		justify-content: space-between;
	}

	.header__search {
		text-decoration: none;
		display: flex;
		color: white;
		margin: 10px 20px 0 20px;
		transition: .5s linear;
	}
	.header__search:hover { color: black; }
}